<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://kit.fontawesome.com/5d397587b1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" href="../icons/icons8-search-32.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auto Complete Box</title>
</head>

<body>
    <main>
        <section class="search">
            <div class="container">
                <div class="searchBox">
                    <div class="input-content">
                        <input type="text" placeholder="Type to search ..." class="search-input">
                        <img src="../icons/icons8-search-30.png" alt="icon" class="search-icon">
                    </div>
                    <ul class="auto-com">
                        <!-- <li class="auto-com-item">How To learn HTML</li>
                        <li class="auto-com-item">How To learn CSS</li>
                        <li class="auto-com-item">How To learn JavaScript</li>
                        <li class="auto-com-item">How To learn Bootstrap</li> -->
                    </ul>
                </div>
            </div>
        </section>

    </main>
    <script src="../js/script.js"></script>
</body>

</html>